<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

    <settings>

        <!-- 开启二级缓存，默认是false -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 全局启用或禁用延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 需要时才加载,true情况调用本表数据也会加载外表 -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>

        <setting name="useColumnLabel" value="true"/>

    </settings>

    <!-- Continue editing here -->

    <!-- 别名区 -->
    <typeAliases>
        <package name="com.q18idc.ssm.entity"/>
    </typeAliases>
    
    <plugins>
        <!--分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql" />
            <property name="reasonable" value="true"/>  <!-- 分页合理化参数 -->
        </plugin>
    </plugins>

</configuration>

